* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  color: #333;
}

img {
  max-width: 100%;
  display: block;
}

body {
  max-width: 1920px;
  background-color: #FFFFFF;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 118px;
}

.logo {
  width: 152.58px;
  height: 27.08px;
  margin-left: 300px;
}

.search-box {
  margin-bottom: 2rem;
  margin-left: -350px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  height: 38px;
}

.escondido {
  display: none;
}

#resultado {
  width: 300px;
  height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #333;
  margin-top: 30px;
  margin-left: 310px;
  margin-bottom: 100px;
}

.search-box input {
  border: none;
  margin-left: 20px;
  flex: 1;
  outline: none;
}

.search-box input::placeholder {
  color: #333 ;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.category {
  display: flex;
  width: 100%;
  top: 108px;
  left: 331px;
  height: 22px;
  position: absolute;
  gap: 45px;
  font-size: 14px;
}

.btn-category {
  display: flex;
  gap: 8px;
  width: 152px;
  height: 22px;
  align-items: center;
  justify-content: center;
  background: none;
}

.btn-category path,
.btn-category p {
  fill: black;
  transition: all 0.3s aese;
} 

.btn-category:hover path {
  fill: #005CFF;
}

.btn-category p:hover {
  color: #005CFF;
}

.btn-category p {
  width: 130px;
  height: 22px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap; 
}

/* Todas as categorias */

.mega-menu {
  width: 1261px;
  height: 329px;
  background-color: #fff;
  margin-top: 15px;
  position: absolute;
  z-index: 10000;
  display: none;
}

.column-departamento {
  width: 234px;
  height: 329px;
  left: -1px;
  background-color: #fff;
  margin-left: 20px;
}

.departamentos {
  width: 234px;
  height: 329px;
  overflow: auto;
  background-color: #fff;
}

.departamentos h4 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  cursor: pointer;
}

.dep1 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 92px;
}

.dep1 span {
  color: #005cff;
  font-weight: 700;
}

.mega-menu .categorias {
  display: flex;
  width: 63px;
  height: 236px;
  gap: 70px;
  align-items: center;
}

.categoria1 h4:nth-child(1), .categoria2 h4:nth-child(1), .categoria3 h4:nth-child(1)  {
  font-weight: 700;
  color: #005CFF;
}

.categorias h4 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-top: 15px;
  margin-left: 30px;
  color: #656565;
  cursor: pointer;
}

.categorias-container {
  width: 60%;
  height: 329px;
  background-color: #fff;
  margin-top:40px;
  position: absolute;
  z-index: 10000;
  display: none;
}

.categorias-departamento h3 {
  font-family: 'Nunito Sans';
  font-weight:700;
  font-size: 16px;
  line-height: 100%;
  margin-top: 15px;
  margin-left: 30px;
  color: #000;
  cursor: pointer;
}

.categorias-departamento h4 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-top: 15px;
  margin-left: 30px;
  color: #656565;
  cursor: pointer;
}

.categoriad1 h4:nth-child(2), .categoriad2 h4:nth-child(1), .categoriad3 h4:nth-child(1)  {
  font-weight: 700;
  color: #005CFF;
}

.categoriad2, .categoriad3 {
  margin-top: 30px;
}

.categorias-container a {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}

.categorias-container .categorias-departamento {
  display: flex;
  width: 63px;
  height: 236px;
  gap: 70px;
  align-items: center;
}

.caneca-dep {
  max-width: 236px;
  height: 298px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 600px;
}

.caneca-cat {
  max-width: 236px;
  height: 298px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 800px;
}

.nav-menu {
  position: relative;
}

.nav-link {
  display: flex;
  gap: 45px;
}

.nav-link a {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.nav-link a:hover {
  font-weight: 700;
  color: #005CFF;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  display: none;
  border-radius: 5px;
}

.menu ul {
  list-style: none;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 8px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}  

.btn-search {
  width: 10%;
  color: rgba(0, 0, 0, 0.1);
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164.31px;
  height: 28px;
  top: 52px;
  left: 1417px;
  gap: 24px;
}

.btn-cart {
  display: flex;
}

.cart{
  width: 24px;
  height: 24px;
}

.produto {
  width: 21px;
  height: 21px;
  margin-left: -10px;
  margin-top: -10px;
}

.btn-person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115.57px;
  height: 28px;
  gap: 5px;
}

.btn-person p {
  font-family: 'Nunito Sans';
  width: 87px;
  height: 28px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0%;
  white-space: nowrap; 
  text-align: justify;
}

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 30px;
  background-color: #005CFF;
  color: #fff;
}

.promo p {
  max-width: 546px;
  height: 22px;
  left: 687px;
  margin-top: 4px;
  border-radius: 4px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.promo .dez {
  background-color: rgb(131, 27, 151) ;
}

.promo .desconto {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: italic;
}

header {
  background-color: #ffffff;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.banner {
  max-width: 1920px;
  height: 510px;
  top: 148px;
  display: flex;
  background-color: #E7E7EA;
}

.banner-img {
  max-width: 685px;
  height: 510px;
  top: 148px;
  margin-left: 250px;
  color: #d9d9d9;
}

.banner .sale {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 576px;
  height: 224.98px;
  top: 291px;
  left: 944.97px;
  gap: 12px;
  font-family: 'Nunito';
}

.banner h1 {
  white-space: nowrap; 
  max-width: 575px;
  height: 136px;
  top: -25.51px;
  left: 0.52px;
  font-weight: 700;
  font-size: 100px;
  font-family: 'Nunito';
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.banner .sale-span {
  font-weight: 300;
  font-family: 'Nunito';
  font-size: 100px;
  line-height: 100%;
}

.sale .sale-text {
  white-space: nowrap; 
  max-width: 580px;
  height: 34px;
  top: 122.49px;
  left: -1.98px;
  font-size: 25px;
  font-family: 'Nunito';
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30%;
  color: #005CFF;
}

.sale  .off {
  white-space: nowrap; 
  max-width: 244px;
  height: 82px;
  top: 168.49px;
  left: 166.02px;
  font-family: 'Nunito';
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #005CFF;
}

.lancamentos {
  max-width: 1288px;
  height: 478px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  top: 754px;
  margin-left: 316px;
}

.text-lancamentos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1259px;
  height: 27px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.lancamentos h2 {
  max-width: 123px;
  height: 27px;
  top: 754px;
  left: 331px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.lancamentos h4 {
  max-width: 63px;
  height: 20px;
  top: 754px;
  left: 3px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  color: #303030;
}

.produtos {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 1258px;
  height: 409px;
  box-sizing: border-box;
  margin: 0 auto;
}

.produtos .card-img-top {
  max-width: 222px;
  height: 222px;
  top: 6px;
  left: 8px;
}

.card {
  max-width: 238px;
  height: 409px;
  border-radius: 10px;
  border: 1px solid #DDD;
}

.card a {
  display: inline;
  max-width: 64px;
  height: 20px;
  top: 295px;
  left: 8px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  background-color: #5EC0BE;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  text-decoration: underline;
  color: #fff;
}

.card h3 {
  max-width: 222px;
  height: 39px;
  top: 244px;
  left: 8px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #303030;
  text-align: center;
}

.card .preco-inicial {
  width: 58px;
  height: 16px;
  top: 287px;
  left: 8px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
  color: #303030;
}

.card .preco-final {
  width: 64px;
  height: 22px;
  top: 303px;
  left: 8px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.card .precos-card {
  width: 64px;
  height: 38px;
}

.card .parcelamento {
  max-width: 143px;
  height: 16px;
  top: 329px;
  left: 8px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
}

.card .span {
  font-weight: 700;
}

.card .comprar {
  width: 222px;
  height: 40px;
  border-radius: 8px;
  background-color: #005CFF;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.card .comprar:hover {
  background-color: #004CD2;
}

.card .details {
  display: flex;
  width: fit-content;
  display: inline-block;
  max-width: 222px;
  height: 101px;
  top: 244px;
  padding-left: 8px;
}

.card .precos {
  display: flex;
  justify-content: space-around;
  max-width: 143px;
  height: 42px;
  top: 287px;
  left: 8px;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiper-button-next ,
.swiper-button-prev {
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  overflow: hidden;
}

.swiper-button-prev {
  background-image: url('../img/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  left: -15px;
}

.swiper-button-next {
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: -15px;
} 

.swiper-button-next::after,
.swiper-button-prev::after {
  content: ""; 
}

.swiper-button-prev:hover {
  transition: 0.2s;
  background-image: url('../img/seta-para-a-esquerda.png');
}

.swiper-button-next:hover {
  transition: 0.3s;
  background-image: url('../img/seta-para-a-direita.png');
}

.swiper-pagination {
  position: relative;
  transform: translateY(50%);
  cursor: pointer;
}

.novo {
  max-width: 41px;
  height: 22px;
  margin-top: 7px;
  margin-left: 8px;
  border-radius: 4px;
  background-color: #00264E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.novo p {
  width: 30px;
  height: 22px;
  top: 8px;
  left: 13px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}

.primeiro-banner {
  height: 747px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.primeiro-banner .banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 652px;
  height: 747px;
  left: 0.5px;
  background-color: #C2C2C2;
}

.primeiro-banner img {
  max-width: 523px;
  height: 528px;
}

.primeiro-banner .descricao {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 487px;
  height: 536px;
  margin-top: 105px;
  margin-left: 30px;
  font-family: 'Nunito';
}

.descricao h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 4%;
}

.descricao h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 5%;
}

.segundo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1930px;
  height: 819px;
  margin-top: 40px;
  background-color: #DEDEDE;
}

.segundo-banner .descricao-segunda {
  max-width: 476px;
  height: 567px;
  margin-top: 50px;
  font-family: 'Nunito';
  align-items: center;
  justify-content: center;
}

.descricao-segunda h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  max-width: 481px;
  height: 42px;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  color: #4F4F4F;
}

.segundo-banner .descricao-segunda p {
  max-width: 360;
  height: 125;
  top: 92px;
  left: 113px;
  font-size: 18px;
  line-height: 140%;
  color: #4F4F4F;
}

.descricao-segunda .grupos {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  height: 125px;
}

.segundo-banner .descricao-segunda img {
  max-width: 90px;
  height: 90px;
}

.segundo-banner .banner-img {
  max-width: 652px;
  height: 728px;
}

.grupo1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.grupo2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.grupo3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avanti-img {
  position: relative;
}

.avanti-img img {
  display: block;
  width: 100%;
  height: 660px;
}

.avanti-img .contato {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito';
  color: #FFFFFF;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 132px;
  background-color: #005cff;
}

.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  margin-top: 30px;
}

.cadastro span {
  color: #005CFF;
}

.cadastro h1 {
  max-width: 301px;
  height: 27px;
  white-space: nowrap; 
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 176px;
  border-radius: 8px;
  background-color: #DEDEDE;
}

.checkbox {
  display: flex;
  max-width: 1031px;
  height: 48px;
  left: 50%;
  gap: 24px;
  white-space: nowrap; 
  align-items: center;
}

.checkbox #text{
  width: 280px;
  height: 48px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: 400;
  font-family: 'Nunito Sans';
  font-size: 14px;
  color: #303030;
  flex: 1;
  padding-left: 20px;
}

.checkbox #check {
  border: none;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 4px;
}

.checkbox #text::placeholder {
  max-width: 102px;
  height: 19px;
}

.checkbox p {
  max-width: 254px;
  height: 16px;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 700;
  color: #656565;
}

.checkbox span {
  text-decoration: underline;
}

.btn {
  width: 121px;
  height: 48px;
  border-radius: 8px;
  background-color: #005CFF;
  color: #fff;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.btn:hover {
  background-color: #004CD2;
}

/* FOOTER */

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 366px;
  margin-top: 30px;
  background-color: #F5F5F5;
}

.footer-container1 .forma-de-pagamento{
  margin-top: 5rem;
}

.img-icons {
  max-width: 194px;
  height: 93px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.logo-avanti {
  width: 152px;
  height: 27px;
}

.icons {
  display: flex;
  gap: 40px;
}

.info {
  margin-top: 50px;
  max-width: 1160px;
  height: 170px;
  display: flex;
  gap: 5rem;
}

.institucional, .central-ajuda {
  max-width: 186px;
  height: 142px;
  line-height: 28px;
}

.atendimento {
  max-width: 245px;
  height: 156px;
  line-height: 28px;
}

.atendimento span {
  font-family: 14px;
  font-weight: 700;
}
 
.institucional h4, .central-ajuda h4, .atendimento h4 {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
  color: #303030;
}

.institucional h5, .central-ajuda h5, .atendimento h5 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
  color: #303030;
}

.forma-de-pagamento {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container2 {
  width: 100%;
  height: 211px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.container-descricao p {
  max-width: 1074px;
  height: 59px;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 400;
  margin-top: 30px;
  color: #303030;
  
}

/* Responsivo */
/* small laptop (a partir de 1100px) */
@media (max-width: 1100px) {
    .nav-container {
        width: 95%;
    }

}

/* tablet (900px) */
@media (max-width: 900px) {
    .main-banner p {
        font-size: 32px;
        padding: 0 6rem;
    }

    .searchdomain-container {
        padding: 2rem 4rem;
    }
}

/* mobile (576px) */
@media (max-width:576px) {
    html, 
    body {
        overflow-x: hidden;
    }

    .promo {
      width: 390px;
      height: 52px;
      text-align: center;
    }

    .promo p {
      height: 44px;
      margin-left: 22px;
    }

    .nav-container {
      display: flex;
      width: 390px;
      height: 132px;
      align-items: center;
    }

    .btn-cart {
      margin-top: -25%;
      margin-left: 5%;
    }

    .search-box {
      width: 361px;
      height: 40px;
      margin-top: 110px;
      margin-right: -280px;
    }

    .btn-category {
      width: 23px;
      height: 21px;
      margin-left: -320px;
      margin-top: -15px;
    }

    .btn-category p, .btn-person p, .btn-person img, .nav-link {
      display: none;
    }

    .logo {
      margin-left: 25%;
      margin-top: -10%;
    }

    .banner {
      display: flex;
      width: 390px;
      height: 306px;
    }

    .banner-img {
      width: 225px;
      height: 306px;
      margin-left: -70px;
    }

    .sale {
      width: 139px;
      height: 164px;
      margin-left: -90px;
    }

    .lancamentos {
      max-width: 358px;
      height: 426px;
      margin-left: 6px;
      margin-top: 1px;
    }

    .lancamentos .text-lancamentos {
      margin-left: 2px;
    }

    .produtos .card-img-top {
      width: 158px;
      height: 150px;
    }

    .card {
      width: 174px;
      height: 365px;;
    }

    .card h3 {
      max-width: 158px;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .swiper {
      width: 350px;
    }

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }

    .card .comprar {
      width: 158px;
      height: 40px;
    }

    .card .details {
      padding-left: 3px;
    }
   
    .primeiro-banner {
        max-width: 391px;
        height: 732px;
        display: flex;
        flex-direction: column;
    }

    .primeiro-banner .banner-img {
      height: 390px;
      overflow: hidden;
    }

    .primeiro-banner .descricao {
      max-width: 343px;
      height: 266px;
      overflow: hidden;
      margin-top: 20px;
      margin-left: 10px;
      text-align: justify;
    }

    .primeiro-banner .descricao h1  {
      font-size: 24px;
    }

    .primeiro-banner .descricao h4  {
      font-size: 14px;
    }
    .segundo-banner {
      width: 100%;
      height: 717px;
      display: flex;
      flex-direction: column;
    }

    .segundo-banner .banner-img {
      width: 90%;
      height: 349px;
      margin-top: -290%;
      margin-left: 2px;
    }

    .segundo-banner .descricao-segunda {
      width: 100%;
      height: 717px;
    }

    .descricao-segunda h1 {
      font-size: 20px;
      margin-top: 20px;
    }

    .descricao-segunda .grupos {
      width: 90%;
      height: 242px;
      margin-top: -50px;
      margin-left: 10px;
    }

    .descricao-segunda .grupos img {
      width: 60px;
      height: 60px;
    }

    .descricao-segunda .grupos p {
      font-size: 12px;
    }

    .avanti-img {
      max-width: 390px;
      width: 100%;
      margin: 0 auto;
    }

    .avanti-img .contato {
      max-width: 390px;
      height: 75px;
    }
    
    .contato p {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    .cadastro {
      width: 358px;
      height: 330px;
    }

    .cadastro h1 {
      font-size: 16px;
    }

    .checkbox-container {
      width: 93%;
      height: 284px;
    }

    .checkbox {
      width: 326px;
      height: 208px;;
      display: flex;
      flex-direction: column;
    }

    .checkbox #text {
      width: 320px;
      height: 48px;
    }

    .checkbox p {
      font-size: 12px;
      margin-left: 5px;
    }

    .check-box {
      display: flex;
      width: 278px;
      height: 16px;
    }
    
    .checkbox .btn {
      width: 326px;
    }

    .footer-container1 {
      width: 390px;
      height: 495px;
    }

    .info {
      display: inline;
    }

    .info .img-icons {
      margin-top: 40px;
      margin-left: 90px;
      margin-bottom: 20px;
    }

    .forma-de-pagamento {
      margin-left: 40px;
      width: 288px;
      height: 64px;
      background-image: url('../img/Grupo 17899.png');
    }

    .footer-container2 {
      width: 90%;
    }

    .footer-container2 p {
      overflow: hidden;

    }
}
