* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  max-width: 1920px;
}

.nav-container {
  display: flex;
  height: 118px;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 27.08px;
  margin-left: 300px;
  width: 152.58px;
}

.search-box {
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  height: 38px;
  margin-bottom: 2rem;
  margin-left: -350px;
  overflow: hidden;
  width: 600px;
}

.hidden {
  display: none;
}

#result {
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 30px;
  margin-bottom: 100px;
  margin-left: 310px;
  margin-top: 30px;
  width: 300px;
}

.search-box input {
  border: none;
  flex: 1;
  margin-left: 20px;
  outline: none;
}

.search-box input::placeholder {
  color: #333 ;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.category {
  display: flex;
  font-size: 14px;
  gap: 45px;
  height: 22px;
  left: 331px;
  position: absolute;
  top: 108px;
  width: 100%;
}

.btn-category {
  align-items: center;
  background: none;
  display: flex;
  gap: 8px;
  height: 22px;
  justify-content: center;
  width: 152px;
}

.btn-category path,
.btn-category p {
  fill: black;
  transition: all 0.3s aese;
} 

.btn-category:hover path {
  fill: #005CFF;
}

.btn-category p:hover {
  color: #005CFF;
}

.btn-category p {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  white-space: nowrap; 
  width: 130px;
}

/* Todas as categorias */

.mega-menu {
  background-color: #fff;
  display: none;
  height: 329px;
  margin-top: 15px;
  position: absolute;
  width: 1261px;
  z-index: 10000;
}

.column-department {
  background-color: #fff;
  height: 329px;
  left: -1px;
  margin-left: 20px;
  width: 234px;
}

.departments {
  background-color: #fff;
  height: 329px;
  overflow: auto;
  width: 234px;
}

.departments h4 {
  color: #303030;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
}

.dep1 {
  align-items: center;
  display: flex;
  gap: 92px;
  margin-top: 15px;
}

.dep1 span, .hover-img {
  color: #005cff;
  font-weight: 700;
}

.dep1 img {
  margin-top: 20px;
}

.mega-menu .categories {
  align-items: center;
  display: flex;
  gap: 70px;
  height: 236px;
  width: 63px;
}

.category1 h4:nth-child(1), .category2 h4:nth-child(1), .category3 h4:nth-child(1)  {
  color: #005CFF;
  font-weight: 700;
}

.category h4 {
  color: #656565;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 30px;
  margin-top: 15px;
}

.categories-container {
  background-color: #fff;
  display: none;
  height: 329px;
  margin-top:40px;
  position: absolute;
  width: 65%;
  z-index: 10000;
}

.categories-department h3 {
  color: #000;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight:700;
  line-height: 100%;
  margin-left: 30px;
  margin-top: 15px;
}

.categories-department h4 {
  color: #656565;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 30px;
  margin-top: 15px;
}

.categoryd1 h4:nth-child(2), .categoryd2 h4:nth-child(1), .categoryd3 h4:nth-child(1)  {
  color: #005CFF;
  font-weight: 700;
}

.categoryd2, .categoryd3 {
  margin-top: 30px;
}

.categories-container a {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}

.categories-container .categories-department {
  align-items: center;
  display: flex;
  gap: 70px;
  height: 236px;
  width: 63px;
}

.mug-dep {
  border-radius: 10px;
  height: 298px;
  margin-left: 600px;
  margin-top: 15px;
  max-width: 236px;
}

.mug-cat {
  border-radius: 10px;
  height: 298px;
  margin-left: 800px;
  margin-top: 15px;
  max-width: 236px;
}

.nav-menu {
  position: relative;
}

.nav-link {
  display: flex;
  gap: 45px;
}

.nav-link a {
  color: #000;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.nav-link a:hover {
  color: #005CFF;
  font-weight: 700;
}

.menu {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  position: absolute;
  top: 40px;
  width: 200px;
}

.menu ul {
  list-style: none;
  padding: 10px;
}

.menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}  

.btn-search {
  width: 10%;
  color: rgba(0, 0, 0, 0.1);
}

.client {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 28px;
  justify-content: center;
  left: 1417px;
  top: 52px;
  width: 164.31px;
}

.btn-cart {
  display: flex;
}

.cart{
  height: 24px;
  width: 24px;
}

.product {
  height: 21px;
  margin-left: -10px;
  margin-top: -10px;
  width: 21px;
}

.btn-person {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 28px;
  justify-content: center;
  width: 115.57px;
}

.btn-person p {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  letter-spacing: 0%;
  line-height: 14px;
  text-align: justify;
  white-space: nowrap; 
  width: 87px;
}

.promo {
  align-items: center;
  background-color: #005CFF;
  color: #fff;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 1920px;
}

.promo p {
  border-radius: 4px;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  left: 687px;
  line-height: 22px;
  margin-top: 4px;
  max-width: 546px;
}

.promo .ten {
  background-color: rgb(131, 27, 151) ;
}

.promo .discount {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: italic;
}

header {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}

.logo {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.banner {
  background-color: #E7E7EA;
  display: flex;
  height: 510px;
  max-width: 1920px;
  top: 148px;
}

.banner-img {
  color: #d9d9d9;
  height: 510px;
  margin-left: 250px;
  max-width: 685px;
  top: 148px;
}

.banner .sale {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  gap: 12px;
  height: 224.98px;
  left: 944.97px;
  max-width: 576px;
  position: absolute;
  text-align: center;
  top: 291px;
}

.banner h1 {
  color: #000;
  font-family: 'Nunito';
  font-size: 100px;
  font-weight: 700;
  height: 136px;
  left: 0.52px;
  letter-spacing: 0%;
  line-height: 100%;
  max-width: 575px;
  top: -25.51px;
  white-space: nowrap; 
}

.banner .sale-span {
  font-weight: 300;
  font-family: 'Nunito';
  font-size: 100px;
  line-height: 100%;
}

.sale .sale-text {
  color: #005CFF;
  font-family: 'Nunito';
  font-size: 25px;
  font-weight: 700;
  height: 34px;
  left: -1.98px;
  letter-spacing: 30%;
  line-height: 100%;
  max-width: 580px;
  top: 122.49px;
  white-space: nowrap; 
}

.sale  .off {
  color: #005CFF;
  font-family: 'Nunito';
  font-size: 60px;
  font-weight: 700;
  height: 82px;
  left: 166.02px;
  letter-spacing: 0%;
  line-height: 100%;
  max-width: 244px;
  top: 168.49px;
  white-space: nowrap; 
}

.releases {
  height: 478px;
  margin-bottom: 5rem;
  margin-left: 316px;
  margin-top: 5rem;
  max-width: 1288px;
  top: 754px;
}

.text-releases {
  align-items: center;
  display: flex;
  height: 27px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 1259px;
}

.releases h2 {
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: 700;
  height: 27px;
  left: 331px;
  line-height: 100%;
  max-width: 123px;
  top: 754px;
}

.releases h4 {
  color: #303030;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 3px;
  max-width: 63px;
  top: 754px;
}

.releases .text-right:hover {
  color: #005CFF;
  text-decoration: underline;
}

.products {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 409px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1258px;
  position: relative;
}

.products .card-img-top {
  height: 222px;
  left: 8px;
  max-width: 222px;
  top: 6px;
}

.card {
  border-radius: 10px;
  border: 1px solid #DDD;
  height: 409px;
  width: 238px;
}

.card a {
  background-color: #5EC0BE;
  border-radius: 4px;
  color: #fff;
  display: inline;
  font-family: 'Nunito Sans';
  font-size: 11px;
  font-weight: 700;
  height: 20px;
  left: 8px;
  line-height: 12px;
  max-width: 64px;
  padding: 4px 8px 4px 8px;
  text-decoration: underline;
  top: 295px;
}

.card h3 {
  color: #303030;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  height: 39px;
  left: 8px;
  letter-spacing: 0%;
  line-height: 100%;
  max-width: 222px;
  text-align: center;
  top: 244px;
}

.card .price-initial {
  color: #303030;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 8px;
  text-decoration: line-through;
  top: 287px;
  width: 58px;
}

.card .price-final {
  color: #000;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  left: 8px;
  top: 303px;
  width: 64px;
}

.card .prices-card {
  height: 38px;
  width: 64px;
}

.card .installment {
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 8px;
  max-width: 143px;
  top: 329px;
}

.card .span {
  font-weight: 700;
}

.card .buy {
  align-items: center;
  background-color: #005CFF;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  height: 9%;
  justify-content: center;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
}

.card .buy:hover {
  background-color: #004CD2;
}

.card .details {
  display: flex;
  display: inline-block;
  height: 101px;
  max-width: 222px;
  padding-left: 8px;
  top: 244px;
  width: fit-content;
}

.card .prices {
  display: flex;
  height: 42px;
  justify-content: space-around;
  left: 8px;
  max-width: 143px;
  top: 287px;
}

.swiper {
  position: relative;
  width: 100%;
}

.swiper-button-next ,
.swiper-button-prev {
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
}

.swiper-button-prev {
  background-image: url('../img/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  left: -15px;
}

.swiper-button-next {
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: -15px;
} 

.swiper-button-next::after,
.swiper-button-prev::after {
  content: ""; 
}

.swiper-button-prev:hover {
  background-image: url('../img/seta-para-a-esquerda.png');
  transition: 0.2s;
}

.swiper-button-next:hover {
  background-image: url('../img/seta-para-a-direita.png');
  transition: 0.3s;
}

.swiper-pagination {
  cursor: pointer;
  transform: translateY(50%);
  position: relative;
}

.new {
  align-items: center;
  background-color: #00264E;
  border-radius: 4px;
  display: flex;
  height: 22px;
  justify-content: center;
  margin-left: 8px;
  margin-top: 7px;
  max-width: 41px;
}

.new p {
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-size: 10px;
  font-weight: 700;
  height: 22px;
  left: 13px;
  letter-spacing: 0%;
  line-height: 22px;
  top: 8px;
  width: 30px;
}

.first-banner {
  align-items: center;
  display: flex;
  height: 747px;
  justify-content: center;
  margin-top: 30px;
}

.first-banner .banner-img {
  align-items: center;
  background-color: #C2C2C2;
  display: flex;
  height: 747px;
  justify-content: center;
  left: 0.5px;
  width: 652px;
}

.first-banner img {
  height: 528px;
  max-width: 523px;
}

.first-banner .description {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  gap: 22px;
  height: 536px;
  margin-left: 30px;
  margin-top: 105px;
  max-width: 487px;
}

.description h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4%;
  line-height: 140%;
}

.description h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 5%;
}

.second-banner {
  align-items: center;
  background-color: #DEDEDE;
  display: flex;
  height: 819px;
  justify-content: center;
  margin-top: 40px;
  max-width: 1930px;
}

.second-banner .description-second {
  align-items: center;
  font-family: 'Nunito';
  height: 567px;
  justify-content: center;
  margin-top: 50px;
  max-width: 476px;
}

.description-second h1 {
  color: #4F4F4F;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  height: 42px;
  justify-content: center;
  line-height: 140%;
  margin-bottom: 40px;
  max-width: 481px;
}

.second-banner .description-second p {
  color: #4F4F4F;
  font-size: 18px;
  height: 125;
  left: 113px;
  line-height: 140%;
  max-width: 360;
  top: 92px;
}

.description-second .groups {
  display: flex;
  flex-direction: column;
  height: 125px;
  max-width: 470px;
}

.second-banner .description-second img {
  height: 90px;
  max-width: 90px;
}

.second-banner .banner-img {
  height: 728px;
  max-width: 652px;
}

.group1, .group2 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.group3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avanti-img {
  position: relative;
}

.avanti-img img {
  display: block;
  height: 660px;
  width: 100%;
}

.avanti-img .contact {
  align-items: center;
  background-color: #005cff;
  color: #FFFFFF;
  display: flex;
  font-family: 'Nunito';
  font-size: 30px;
  height: 132px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.register {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;
  margin-top: 30px;
}

.register span {
  color: #005CFF;
}

.register h1 {
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: 700;
  height: 27px;
  margin-bottom: 20px;
  max-width: 301px;
  white-space: nowrap; 
}

.checkbox-container {
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 8px;
  display: flex;
  height: 176px;
  justify-content: center;
  width: 70%;
}

.checkbox {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 48px;
  left: 50%;
  max-width: 90%;
  white-space: nowrap; 
}

.checkbox #text{
  border-radius: 8px;
  border: none;
  color: #303030;
  flex: 1;
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  outline: none;
  padding-left: 20px;
  width: 280px;
}

.check-box {
  display: flex;
}

.check-box #check {
  border-radius: 4px;
  border: none;
  border: none;
  height: 16px;
  width: 16px;
}

.checkbox #text::placeholder {
  height: 19px;
  max-width: 102px;
}

.checkbox p {
  color: #656565;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 700;
  height: 16px;
  margin-left: 5px;
  max-width: 254px;
}

.check-box span {
  text-decoration: underline;
}

.btn {
  background-color: #005CFF;
  border-radius: 8px;
  color: #fff;
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  line-height: 20px;
  width: 121px;
}

.btn:hover {
  background-color: #004CD2;
}

/* FOOTER */

.footer-container {
  align-items: center;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.img-icons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 93px;
  max-width: 194px;
}

.logo-avanti {
  height: 27px;
  width: 152px;
}

.icons {
  display: flex;
  gap: 40px;
}

.info {
  display: flex;
  gap: 5rem;
  margin-top: 50px;
  max-width: 1160px;
}

.infos {
  display: flex;
  gap: 5rem;
}

.institucional, .central-ajuda {
  height: 142px;
  line-height: 28px;
  max-width: 186px;
}

.atendimento {
  height: 156px;
  line-height: 28px;
  max-width: 245px;
}

.atendimento span {
  font-family: 14px;
  font-weight: 700;
}
 
.institucional h4, .central-ajuda h4, .atendimento h4 {
  color: #303030;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 14px;
}

.institucional h5, .central-ajuda h5, .atendimento h5 {
  color: #303030;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 12px;
}

.payment-method {
  background-image: url('../img/formapagamento.png');
  margin-top: 100px;
  min-height: 24px;
  width: 545px;
}

.footer-container2 {
  align-items: center;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 211px;
  text-align: center;
  width: 100%;
}

.container-description p {
  color: #303030;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 400;
  height: 59px;
  margin-top: 30px;
  max-width: 1074px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.ativo {
  transform: rotate(180deg);
}

/* Responsivo */
@media (min-width: 576px) {
  .toggle-btn {
    display: none;
  }

  .content {
    display: block;
  }
}

/* mobile (576px) */
@media (max-width:576px) {
    html, 
    body {
        overflow-x: hidden;
    }

    .promo {
      height: 52px;
      text-align: center;
      width: 390px;
    }

    .promo p {
      height: 44px;
    }

    .nav-container {
      align-items: center;
      display: flex;
      height: 132px;
    }

    .btn-cart {
      margin-top: -25%;
      margin-left: 5%;
    }

    .search-box {
      height: 40px;
      margin-right: -265px;
      margin-top: 110px;
      width: 361px;
    }

    .btn-category {
      height: 21px;
      margin-left: -320px;
      margin-top: -15px;
      width: 23px;
    }

    .btn-category p, .btn-person p, .btn-person img, .nav-link {
      display: none;
    }

    .logo {
      margin-left: 25%;
      margin-top: -10%;
    }

    .banner {
      align-items: center;
      display: flex;
      max-height: 306px;
    }

    .banner-img {
      height: 306px;
      margin-left: -70px;
      width: 225px;
    }

    .banner-img img {
      display: block;
      max-width: 100%;
    }

    .banner .sale {
      height: 164px;
      left: 180px;
      overflow: hidden;
      width: 139px;
    }

    .sale h1 {
      display: flex;
      flex-direction: column;
      font-size: 40px;
      height: 80px;
      width: 133px;
    }

    .sale .sale-span {
      font-size: 40px;
    }

    .sale .sale-text {
      width: 133px;
      height: 16px;
      font-size: 12px;
    }

    .sale .off {
      width: 130px;
      height: 44px;
      font-size: 32px;
    }

    #result {
      color: #333;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 15px;
      margin-left: 10px;
      margin-top: 30px;
    }

    .releases {
      height: 426px;
      margin-left: 6px;
      margin-top: 1px;
      max-width: 358px;
    }

    .releases .text-releases {
      margin-left: 2px;
    }

    .releases .text-right {
      cursor: pointer;
      text-decoration: underline;
    }

    .products .card-img-top {
      width: 158px;
      height: 150px;
    }

    .card {
      width: 174px;
      height: 365px;;
    }

    .card h3 {
      max-width: 158px;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .swiper {
      width: 350px;
    }

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }

    .card .buy {
      width: 158px;
      height: 40px;
    }

    .card .details {
      padding-left: 3px;
    }
   
    .first-banner {
      max-width: 391px;
      height: 732px;
      display: flex;
      flex-direction: column;
    }

    .first-banner .banner-img img {
      width: 391px;
      height: 390px;
      margin-left: 70px;
    }

    .first-banner .description {
      max-width: 343px;
      height: 266px;
      overflow: hidden;
      margin-top: 20px;
      margin-left: 10px;
      text-align: justify;
    }

    .first-banner .description h1  {
      font-size: 24px;
    }

    .first-banner .description h4  {
      font-size: 14px;
    }

    .second-banner {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .second-banner .banner-img {
      width: 90%;
      height: 349px;
      margin-top: -290%;
      margin-left: 2px;
    }

    .second-banner .description-second {
      width: 100%;
      height: 717px;
    }

    .description-second h1 {
      font-size: 20px;
      margin-top: 20px;
    }

    .description-second .groups {
      width: 90%;
      height: 242px;
      margin-top: -50px;
      margin-left: 10px;
    }

    .description-second .groups img {
      width: 60px;
      height: 60px;
    }

    .description-second .groups p {
      font-size: 12px;
    }

    .avanti-img {
      max-width: 390px;
      width: 100%;
      margin: 0 auto;
    }

    .avanti-img .contact {
      max-width: 390px;
      height: 75px;
    }
    
    .contact p {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    .register {
      width: 358px;
      height: 330px;
    }

    .register h1 {
      font-size: 16px;
    }

    .checkbox-container {
      width: 93%;
      height: 284px;
    }

    .checkbox {
      width: 326px;
      height: 208px;;
      display: flex;
      flex-direction: column;
    }

    .checkbox #text {
      width: 320px;
      height: 48px;
    }

    .checkbox p {
      font-size: 12px;
      margin-left: 5px;
    }

    .check-box {
      display: flex;
      width: 278px;
      height: 16px;
    }
    
    .checkbox .btn {
      width: 326px;
    }

    .footer-container {
      width: 100%;
      background-color: #f5f5f5;
      align-items: normal;
    }

    .info {
      display: inline;
    }

    .info .img-icons {
      margin-top: 40px;
      margin-left: 90px;
      margin-bottom: 20px;
    }

    .payment-method {
      background-image: url('../img/pagamentorespo.png');
      margin-left: 40px;
      max-width: 288px;
      flex-shrink: 0;
      height: 65px;
    }
    
    .footer-container2 {
      width: 90%;
      margin: auto;
      height: auto;
      overflow: hidden;
    }
    
    .footer-container2 .container-description {
      overflow: clip;
      text-align: justify;
    }

    .infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px 2px;
      height: auto;
      
    }

    .institucional, .central-ajuda, .atendimento {
      height: 0;
    }

    .institucional h4, .central-ajuda h4, .atendimento h4 {
      font-size: 16px;
      margin-left: 5px;
    }

    .title-line {
      align-items: center;
      border: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      outline: none;
      padding: 10px 0;
      width: 100%;
      width: 100vw;
      color: #000;
      padding-right: 10px;
    }

    .toggle-btn {
      transition: transform 0.3s ease;
      display: inline-block;
      cursor: pointer;
      border: none;
    }

    .rotate-btn {
      transform: rotate(180deg);
    }

    .content {
      margin-left: 5px;
      margin-top: 5px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;
      color: #303030;
      line-height: 20px;
    }

}
